$black: #353535;
$gray: #c9cace;
$darkGray: #6c6c6c;
$profitGreen: #46B22D;
$lossRed: #E8464A;
$white: #ffffff;
$blue: #31AEF1;
$darkGreen: #006400;
$darkRed: #cc0000;

:export {
    black: $black;
    gray: $gray;
    darkGray: $darkGray;
    profitGreen: $profitGreen;
    lossRed: $lossRed;
    white: $white;
    blue: $blue;
    darkGreen: $darkGreen;
    darkRed: $darkRed;
}