$black: #353535;
$gray: #c9cace;
$profitGreen: #46B22D;
$redLoss: #E8464A;
$white: #ffffff;
$blue: #31AEF1;
$darkGreen: #006400;
$darkRed: #cc0000;

:export {
    black: $black;
    gray: $gray;
    profitGreen: $profitGreen;
    redLoss: $redLoss;
    white: $white;
    blue: $blue;
    darkGreen: $darkGreen;
    darkRed: $darkRed;
}